In [1]:
#importing dependencies
import pandas as pd
import requests
from pprint import pprint

In [3]:
world_master_1_df = pd.read_csv("../downloads/Masters_enrollment.csv")
world_master_1_df.head()

,Series Name,Series Code,Country Name,Country Code,2020
0,"Educational attainment, at least Master's or e...",SE.TER.CUAT.MS.ZS,Afghanistan,AFG,..
1,"Educational attainment, at least Master's or e...",SE.TER.CUAT.MS.ZS,Albania,ALB,..
2,"Educational attainment, at least Master's or e...",SE.TER.CUAT.MS.ZS,Algeria,DZA,..
3,"Educational attainment, at least Master's or e...",SE.TER.CUAT.MS.ZS,American Samoa,ASM,..
4,"Educational attainment, at least Master's or e...",SE.TER.CUAT.MS.ZS,Andorra,AND,..

In [4]:
world_master_1_df = world_master_1_df.drop(columns = "Series Code")
world_master_1_df

,Series Name,Country Name,Country Code,2020
0,"Educational attainment, at least Master's or e...",Afghanistan,AFG,..
1,"Educational attainment, at least Master's or e...",Albania,ALB,..
2,"Educational attainment, at least Master's or e...",Algeria,DZA,..
3,"Educational attainment, at least Master's or e...",American Samoa,ASM,..
4,"Educational attainment, at least Master's or e...",Andorra,AND,..
...,...,...,...,...
212,"Educational attainment, at least Master's or e...",Virgin Islands (U.S.),VIR,..
213,"Educational attainment, at least Master's or e...",West Bank and Gaza,PSE,1.9466700553894
214,"Educational attainment, at least Master's or e...","Yemen, Rep.",YEM,..
215,"Educational attainment, at least Master's or e...",Zambia,ZMB,..
216,"Educational attainment, at least Master's or e...",Zimbabwe,ZWE,..

In [5]:
world_doctorate_df = pd.read_csv("../downloads/Doctorate_enrollment.csv")
world_doctorate_df.head()

FileNotFoundError: [Errno 2] No such file or directory: '../downloads/Doctorate_enrollment.csv'

In [6]:
world_doctorate_df = world_doctorate_df.drop(columns = "Series Code")
world_doctorate_df

,Country Name,Country Code,Series Name,2020
0,Afghanistan,AFG,"Educational attainment, Doctoral or equivalent...",..
1,Albania,ALB,"Educational attainment, Doctoral or equivalent...",..
2,Algeria,DZA,"Educational attainment, Doctoral or equivalent...",..
3,American Samoa,ASM,"Educational attainment, Doctoral or equivalent...",..
4,Andorra,AND,"Educational attainment, Doctoral or equivalent...",..
...,...,...,...,...
212,Virgin Islands (U.S.),VIR,"Educational attainment, Doctoral or equivalent...",..
213,West Bank and Gaza,PSE,"Educational attainment, Doctoral or equivalent...",0.269989997148514
214,"Yemen, Rep.",YEM,"Educational attainment, Doctoral or equivalent...",..
215,Zambia,ZMB,"Educational attainment, Doctoral or equivalent...",..
216,Zimbabwe,ZWE,"Educational attainment, Doctoral or equivalent...",..

In [7]:
merged_df = pd.merge(world_master_1_df, world_doctorate_df, on='Country Name', how='inner')
merged_df

,Series Name_x,Country Name,Country Code_x,2020,Country Code_y,Series Name_y,2020
0,"Educational attainment, at least Master's or e...",Afghanistan,AFG,..,AFG,"Educational attainment, Doctoral or equivalent...",..
1,"Educational attainment, at least Master's or e...",Albania,ALB,..,ALB,"Educational attainment, Doctoral or equivalent...",..
2,"Educational attainment, at least Master's or e...",Algeria,DZA,..,DZA,"Educational attainment, Doctoral or equivalent...",..
3,"Educational attainment, at least Master's or e...",American Samoa,ASM,..,ASM,"Educational attainment, Doctoral or equivalent...",..
4,"Educational attainment, at least Master's or e...",Andorra,AND,..,AND,"Educational attainment, Doctoral or equivalent...",..
...,...,...,...,...,...,...,...
212,"Educational attainment, at least Master's or e...",Virgin Islands (U.S.),VIR,..,VIR,"Educational attainment, Doctoral or equivalent...",..
213,"Educational attainment, at least Master's or e...",West Bank and Gaza,PSE,1.9466700553894,PSE,"Educational attainment, Doctoral or equivalent...",0.269989997148514
214,"Educational attainment, at least Master's or e...","Yemen, Rep.",YEM,..,YEM,"Educational attainment, Doctoral or equivalent...",..
215,"Educational attainment, at least Master's or e...",Zambia,ZMB,..,ZMB,"Educational attainment, Doctoral or equivalent...",..
216,"Educational attainment, at least Master's or e...",Zimbabwe,ZWE,..,ZWE,"Educational attainment, Doctoral or equivalent...",..